<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      Reportes
      
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard/bolivia">Bolivia</a>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="header-row row between-xs middle-xs">
        <div>
          <span>Business Intelligence Covid-19 Bolivia (Actualizado al 26 de Junio de 2020)</span>
        </div>
        <div>
          <button *ngIf="rol === '2'" class="my-boton" (click)="goDashboard()" mat-raised-button color="accent">Ir a Administrador</button>
          <button class="my-boton" (click)="logout()" mat-raised-button color="warn">Salir</button>
        </div>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
