.cont {
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .login-form {
    background-color: #7C42BD;
    color: white;
    width: 40%;
    text-align: center;
    height: 60%;
    padding: 2%;
  }
  p {
    font-size: 15pt;
  }
  .boton-row {
      margin: 5px;
  }

  .message-warn {
    background-color: #FF9696;
    color: black;
    margin: 10px;
  }
  .message-ok {
    background-color: #96FFB2;
    color: black;
    margin: 10px;
  }
  
  ::ng-deep.mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: white !important;;
  }