<!--<iframe width="1190" height="570" src="https://app.powerbi.com/reportEmbed?reportId=eb45ec82-5f0c-49f5-9b38-392c7a0c5962&autoAuth=true&ctid=eb087b19-797f-4343-9564-fed265389e9d&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
-->
<iframe width="1020" height="500" src="https://app.powerbi.com/reportEmbed?reportId=b5a2d0c6-6509-49cc-9ce4-31bc846125a9&autoAuth=true&pageName=Contagios&ctid=eb087b19-797f-4343-9564-fed265389e9d&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
<!--<ngx-powerbi-component type="report"
                       id="c08d1753-0485-4ced-96e7-b5f3145de45e"
                       embedUrl="https://app.powerbi.com/reportEmbed?reportId=c08d1753-0485-4ced-96e7-b5f3145de45e&groupId=eb087b19-797f-4343-9564-fed265389e9d"
                       tokenType="Aad"
                       accessToken="eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D">      
</ngx-powerbi-component> -->